<div class="home-side-container">
  <div class="nav-link">
    <mat-icon>alarm</mat-icon>
    <span class="nav-link-text">Friends</span>
  </div>
  <div class="nav-link">
    <mat-icon>group</mat-icon>
    <span class="nav-link-text">Groups</span>
  </div>
  <div class="nav-link">
    <mat-icon>alarm</mat-icon>
    <span class="nav-link-text">Marketplace</span>
  </div>
  <div class="nav-link">
    <mat-icon>alarm</mat-icon>
    <span class="nav-link-text">Watch</span>
  </div>
  <div class="nav-link">
    <mat-icon>alarm</mat-icon>
    <span class="nav-link-text">Memories</span>
  </div>
</div>