.home-side-container {
  align-self: flex-start;
  position: fixed;
  top: calc(8px + 7vh);
  left: 8px;
  min-width: 280px;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  @media screen and (max-width: 360px) {
    display: none;
  }
}

.nav-link {
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}

.nav-link:hover {
  background-color: #ECF3FF;
}

.nav-link-text {
  margin-left: 8px;
  padding-top: 4px;
}