.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(98vh - 64px);
}

.login-card, form {
  flex-direction: column;
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
}

img {
  padding-bottom: 16px;
}