.container {
  display: flex;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  height: 98vh;
}

.login-card {
  border: 1px solid green;
  flex-direction: column;
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
}